:root {
	--text: #d9e0ee;
	--bg: #303241;
	--bg-mid: #292a37;
	--red: #ec6a88;
	--green: #3fdaa4;
	--blue: #3fc6de;
}

html {
  height: 100%;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: "JetBrains Mono", liberation mono, monospace;
  line-height: calc(1em + 0.5rem);
  min-height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  padding: 0 2rem 4rem 2rem;
  max-width: 75ch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* CSS for navigation bar */

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 2.5rem;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  background-color: var(--bg-mid);
  color: var(--text);
  font-size: 0.9rem;
}

img {
  max-width: calc(100% - 2rem);
  width: 100%;
  padding: 0 1rem;
}

.nav-list {
  display: flex;
  flex-direction: row;
  position: relative;
  list-style: none;
}

a {
  color: var(--text);
  margin: 0 12px;
  text-decoration: none;
}

a:hover {
  color: var(--blue);
}

/* CSS for page footer */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-mid);
  color: var(--green);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.page-title {
  font-size: 1.25rem;
}
